<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>404notFound</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faculty_Login</servlet-name>
    <jsp-file>/Faculty_Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Login</servlet-name>
    <url-pattern>/Faculty_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Login</servlet-name>
    <jsp-file>/Admin_Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login</servlet-name>
    <url-pattern>/Admin_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Portal</servlet-name>
    <jsp-file>/Admin_Portal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Portal</servlet-name>
    <url-pattern>/Admin_Portal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Admin_Login_Validator</servlet-name>
    <jsp-file>/Admin_Login_Validator.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Login_Validator</servlet-name>
    <url-pattern>/Admin_Login_Validator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <jsp-file>/Logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Add_Remove_Faculty</servlet-name>
    <jsp-file>/Add_Remove_Faculty.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Add_Remove_Faculty</servlet-name>
    <url-pattern>/Add_Remove_Faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Invite_Faculty</servlet-name>
    <jsp-file>/Invite_Faculty.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Invite_Faculty</servlet-name>
    <url-pattern>/Invite_Faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Verify_Faculty</servlet-name>
    <jsp-file>/Verify_Faculty.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify_Faculty</servlet-name>
    <url-pattern>/Verify_Faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faculty_Verification</servlet-name>
    <jsp-file>/Faculty_Verification.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Verification</servlet-name>
    <url-pattern>/Faculty_Verification</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faculty_Portal</servlet-name>
    <jsp-file>/Faculty_Portal.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Portal</servlet-name>
    <url-pattern>/Faculty_Portal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Faculty_Login_Validator</servlet-name>
    <jsp-file>/Faculty_Login_Validator.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Faculty_Login_Validator</servlet-name>
    <url-pattern>/Faculty_Login_Validator</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Remove_Faculty</servlet-name>
    <jsp-file>/Remove_Faculty.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Remove_Faculty</servlet-name>
    <url-pattern>/Remove_Faculty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Student_Login</servlet-name>
    <jsp-file>/Student_Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Student_Login</servlet-name>
    <url-pattern>/Student_Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Schedule_Exam</servlet-name>
    <jsp-file>/Schedule_Exam.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Schedule_Exam</servlet-name>
    <url-pattern>/Schedule_Exam</url-pattern>
  </servlet-mapping>
</web-app>
