<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Quizzz</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

  <servlet>
    <servlet-name>Home</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Music</servlet-name>
    <jsp-file>/Music.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Music</servlet-name>
    <url-pattern>/Music</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Politics</servlet-name>
    <jsp-file>/Politics.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Politics</servlet-name>
    <url-pattern>/Politics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sports</servlet-name>
    <jsp-file>/Sports.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sports</servlet-name>
    <url-pattern>/Sports</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Entertainment</servlet-name>
    <jsp-file>/Entertainment.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entertainment</servlet-name>
    <url-pattern>/Entertainment</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>History</servlet-name>
    <jsp-file>/History.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>History</servlet-name>
    <url-pattern>/History</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Science</servlet-name>
    <jsp-file>/Science.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Science</servlet-name>
    <url-pattern>/Science</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Music_Check</servlet-name>
    <jsp-file>/Music_Check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Music_Check</servlet-name>
    <url-pattern>/Music_Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Politics_Check</servlet-name>
    <jsp-file>/Politics_Check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Politics_Check</servlet-name>
    <url-pattern>/Politics_Check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Sports_Check</servlet-name>
    <jsp-file>/Sports_Check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sports_Check</servlet-name>
    <url-pattern>/Sports_Check</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Entertainment_Check</servlet-name>
    <jsp-file>/Entertainment_Check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Entertainment_Check</servlet-name>
    <url-pattern>/Entertainment_Check</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>History_Check</servlet-name>
    <jsp-file>/History_Check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>History_Check</servlet-name>
    <url-pattern>/History_Check</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Science_Check</servlet-name>
    <jsp-file>/Science_Check.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Science_Check</servlet-name>
    <url-pattern>/Science_Check</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Login</servlet-name>
    <jsp-file>/Login.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Verify</servlet-name>
    <jsp-file>/Verify.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Verify</servlet-name>
    <url-pattern>/Verify</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <jsp-file>/Logout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SignUp</servlet-name>
    <jsp-file>/SignUp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUp</servlet-name>
    <url-pattern>/SignUp</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Register</servlet-name>
    <jsp-file>/Register.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/Register</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Forgot</servlet-name>
    <jsp-file>/Forgot.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Forgot</servlet-name>
    <url-pattern>/Forgot</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Reset</servlet-name>
    <jsp-file>/Reset.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Reset</servlet-name>
    <url-pattern>/Reset</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Profile</servlet-name>
    <jsp-file>/Profile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Account-Verification</servlet-name>
    <jsp-file>/Account-Verification.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>Account-Verification</servlet-name>
    <url-pattern>/Account-Verification</url-pattern>
  </servlet-mapping>
  
</web-app>